@tailwind base;
@tailwind components;
@tailwind utilities;

/* .tag {
  @apply w-full flex items-center justify-center py-2 rounded-md border cursor-pointer text-sm;
} */

/* :root {
  --green-900: #006d77;
  --blue-900: #0397f9;
  --dark-900: #1b3b51;
  --orange-900: #fb8b24;
  --purple-900: #5d479d;
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
